<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Profile</a>

            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/student/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my_applications">My Applications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container py-4">

        <div class="row justify-content-center">
            <div class="col-lg-6">

                <h3 class="text-center mb-4">Student Profile</h3>

                <div class="card shadow-sm p-4">

                    <form method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label class="form-label">Upload Resume</label>
                            <input type="file" name="resume" class="form-control">
                        </div>

                        {% if profile.resume %}
                        <div class="mb-3">
                            <label class="form-label">Current Resume</label>
                            <div class="d-flex align-items-center gap-2">

                                <i class="bi bi-paperclip"></i>

                                <a href="/static/resumes/{{ profile.resume }}" 
                                    target="_blank" 
                                    class="text-decoration-none fw-semibold">
                                    {{ profile.resume }}
                                </a>

                            </div>
                        </div>
                        {% endif %}

                        <!-- Student ID -->
                        <div class="mb-3">
                            <label>Student ID</label>
                            <input type="text" class="form-control"
                                value="STU-{{ "%03d"|format(profile.user_id - 1) }}" disabled>
                        </div>

                        <!-- Student's Name -->
                        <div class="mb-3">
                            <label>Student Name</label>
                            <input type="text" name="name" class="form-control" value="{{ profile.name}}" disabled>
                        </div>

                        <!-- Roll Number -->
                        <div class="mb-3">
                            <label>Student Roll No</label>
                            <input type="text" class="form-control" value="{{ profile.roll_no }}" disabled>
                        </div>

                        <div class="mb-3">
                            <label>Department/Branch</label>
                            <input type="text" class="form-control" value="{{ profile.branch }}" disabled>
                        </div>

                        <!-- CGPA -->
                        <div class="mb-3">
                            <label>Current CGPA</label>
                            <input type="number" step="0.01" class="form-control" value="{{ profile.cgpa }}" disabled>
                        </div>

                        <!-- Email -->
                        <div class="mb-3">
                            <label>Email ID</label>
                            <input type="email" name="email" class="form-control" value="{{ user.email }}">
                        </div>

                        <!-- Contact Number -->
                        <div class="mb-3">
                            <label>Contact Number</label>
                            <input type="text" name="contact_no" class="form-control" value="{{ profile.contact_no }}">
                        </div>

                        <div class="mb-3">
                            <label>Technical Skills</label>
                            <textarea name="skills" class="form-control" rows="3">{{ profile.skills }}</textarea>
                        </div>

                        <div class="mb-3">
                            <label>Executive Summary</label>
                            <textarea name="summary" class="form-control" rows="3">{{ profile.summary }}</textarea>
                        </div>

                        <div class="text-center">
                            <input type="submit" class="btn btn-primary px-4" value="Update">
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>

</div>
</div>

</body>
</html>