<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reserve Table Form</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        #form-body{
                width: 350px;
                height: 380px 
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body">
                <h2>Reservation Request</h2>
                <div class="mb-3">
                    <label for="Input1" class="form-label">Table Number</label>
                    <input class="form-control" type="text" value="T1" aria-label="Disabled input example" disabled readonly>
                </div>
                <div class="mb-3">
                    <label for="Input3" class="form-label">Date</label>
                    <input type="date" class="form-control" id="Input3" required>
                </div>
                <div class="mb-3">
                    <label for="Input4" class="form-label">Time</label>
                    <input type="text" class="form-control" id="Input4" placeholder="e.g. 7PM-9PM" required>
                </div>
                <div class="text-center">   
                    <input type="submit" class="btn btn-primary" value="Reserve">
                </div>
            </div>
        </div>
    </div>
</body>
</html>