<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Table Form</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        #form-body{
                width: 320px;
                height: 450px;
                margin-top: 170px;
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body">
                <h2>Update Table</h2>
                <div class="mb-3">
                    <label for="Input1" class="form-label">Table Number</label>
                    <input type="text" class="form-control" id="Input1" value="T1">
                </div>
                <div class="mb-3">
                    <label for="Input3" class="form-label">Capacity</label>
                    <input type="number" class="form-control" id="Input3" value="4">
                </div>
                <div class="mb-3">
                    <label for="Input2" class="form-label">Location</label>
                    <select id="Input2" class="form-select" aria-label="Default select example">
                        <option value="Indoor">Indoor</option>
                        <option value="Outdoor">Outdoor</option>
                    </select>
                </div>
               <div class="mb-3">
                    <label for="Input4" class="form-label">Status</label>
                    <select id="Input4" class="form-select" aria-label="Default select example">
                        <option value="Available">Available</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
                <div class="text-center">   
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>
            </div>
        </div>
    </div>
</body>
</html>